# Dataset
data/

# Pretrained weights
pretrained/

# Ignore all model outputs
models/*

# Keep final model folders only
!models/baseline/
!models/baseline/**
!models/improved/
!models/improved/**

# Python
__pycache__/
*.pyc
.venv/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db